@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
}

body{
    color: #333;
    background-color: #c3b97a;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 6%;
    background: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 68px;
}

.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;   
}

nav .cart-icon{
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

nav .cart-icon .cart-item-count{
    position: absolute;
    top:0;
    right: -6px;
    width: 16px;
    height: 16px;
    background: #e35f26;    
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    display: none;
}

nav img.logo-icon {
    height: 48px;
    width: auto;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.product-collection{
   padding:100px 9% 30px;
   background-color: #c3b97a;
}

.product-collection h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}   

.product-collection .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
} 

.product-collection .img-box{
    display: flex;
    overflow: hidden;   
    cursor: pointer;
}

.product-collection .img-box img{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.product-collection .img-box:hover img{
    transform: scale(1.1);
}

.product-collection .title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.product-collection .price{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

/* PRODUCT HTML PAGE */

.product-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 130px 9% 30px;
    background-color: #c3b97a;
}

.product-detail .product-img{
     
}

.product-detail .product-img img {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.product-detail .thumbnail-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-top: 16px;
}

.product-detail .thumbnail-list img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #eee;
}

.product-detail .title{
    font-weight: 600;
    line-height: 1;
    margin-top: 8px;
}

.product-detail .rating{
    color: #e35f26;
}

.product-detail .price{
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}

.product-detail :is(.size-selection, .color-selection){
    margin: 20px 0;
}

.product-detail :is(.size-selection p, .color-selection ){
    margin-bottom: 18px;
}

.product-detail :is(.size-options, .color-options){
    display: flex;
    gap: 10px;
}

.product-detail .size-options button{
    width: 45px;
    height: 45px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    cursor: pointer;
}

.product-detail .color-options img {
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
    cursor: pointer;
}

.product-detail .color-options img.selected {
    border: 1px solid #000;
    box-shadow: none;
    transition: border 0.2s;
}

.product-detail .size-options button.selected {
    border: 1px solid #000;
    transition: border 0.2s;
}

.product-detail :is(.size-options .color-options .selected){
    border-color: #999;
}

.btn{
    padding: 12px 50px;
    background: #4e342e;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #3e2723;
}

.product-detail .product-policy{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.product-detail .product-policy p{
    margin: 3px 0;
}

@media (min-width: 1024px) {
  .product-detail .main-img img {
    max-width: 280px;
    max-height: 280px;
  }
  .product-detail .thumbnail-list img {
    width: 55px;
    height: 55px;
  }
}

.product-collection .img-box,
.product-collection .img-box img,
.product-detail .main-img img,
.product-detail .thumbnail-list img {
    background: none !important;
    background-color: transparent !important;
}

.cart{
    padding: 110px 9% 30px;
}

.cart-header{
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #4e342e;
}

.cart-header span{
    flex: 1;
    text-align: center;
}

.cart-header span:first-child{
    flex: 2;
    text-align: left;
}

.cart-items{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-items .product{
    display: flex;
    align-items: center;
    flex: 2;
}

.cart-item img{
    width: 80px;
    margin-right: 15px;
}

.cart-items .size-color-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.cart-items .size{
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    border-radius: 4px;
}

.cart-items :is(.price, .quantity, .total-price){
    flex: 1;
    text-align: center;
    color: #4e342e;
}

.cart-item .quantity input{
    width: 50px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.cart-item .remove{
    background: transparent;
    border: none;
    flex: 1;
}

.cart-item .remove i{
    font-size: 20px;
    color: #e35f26;
    cursor: pointer;
}

.cart-total{
    width: 400px;
    margin: 50px 0 0 auto;
}

.cart-total h3{
    margin-bottom: 15px;
}

.cart-total p{
    display: flex;
    justify-content: space-between;
}

.cart-total p:not(:last-child-of-type){
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cart-total p:last-of-type{
    font-weight: bold;
}

.cart-total .btn{
    display: block;
    padding: 12px 30px;
    margin: 30px 0 0 auto;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    padding: 15px;
    text-align: center;
}

.cart-table th:first-child,
.cart-table td.product {
    text-align: left !important;
    vertical-align: top !important;
}

.cart-table th {
    font-weight: 600;
    color: #4e342e;
}

.cart-table td.product {
    display: flex;
    align-items: flex-start;
    text-align: left !important;
    vertical-align: top !important;
    gap: 24px;
}

.cart-table td.product img {
    width: 80px;
    margin-right: 15px;
}

.cart-table .item-detail {
    flex: 1;
}

.cart-table .size-color-box {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.cart-table .size {
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.cart-table .color {
    color: #4e342e;
}

.cart-table .quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    margin: 0 auto;
}

.cart-table .remove {
    background: transparent;
    border: none;
    text-align: center;
}

.cart-table .remove i {
    font-size: 20px;
    color: #e35f26;
    cursor: pointer;
}

.cart-table .price,
.cart-table .total-price {
    text-align: center;
    color: #4e342e;
}































